{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% if user.is_authenticated %}
    {% if user.is_superuser %}
    <h1>Bienvenido Administrador, {{ user.username }}!</h1>
    <p>correo:  {{ user.email }}</p>
    
    <p class="fs-3">Panel de administración: </p>
    
    <div class="row">
        <div class="col">
    
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-entradas" aria-controls="offcanvasWithBothOptions">Entradas</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-paginas" aria-controls="offcanvasWithBothOptions">Páginas</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#panel-usuario" aria-controls="offcanvasWithBothOptions">Usuarios</button>
    
            
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-entradas" aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Panel de administración de entradas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="/blog/entradas/nueva">Crear entrada</a></li>
                  <li class="list-group-item"><a>Borrar entrada</a></li>
                  <li class="list-group-item"><a>Modificar entrada</a></li>
                  <li class="list-group-item"><a>Buscar entrada</a></li>
                </ul>                
              </div>
            </div>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-paginas" aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Panel de administración de páginas</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a>Crear página</a></li>
                  <li class="list-group-item"><a>Borrar página</a></li>
                  <li class="list-group-item"><a>Modificar página</a></li>
                  <li class="list-group-item"><a>Buscar página</a></li>
                <ul>
              </div>
            </div>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="panel-usuario" aria-labelledby="offcanvasWithBothOptionsLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Panel de administración de usuarios</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a>Crear usuario</a></li>
                  <li class="list-group-item"><a>Borrar usuario</a></li>
                  <li class="list-group-item"><a>Modificar usuario</a></li>
                  <li class="list-group-item"><a>Buscar usuario</a></li>
                <ul>
              </div>
            </div>
            

    
        </div>
    </div>
    {% endif %}
    

{% else %}
    <p>Por favor inicia sesión.</p>
{% endif %}



{% endblock content%}