/*app/supportinbits/static/supportinbits/css/global.css
NOTA: siempre que hagas cambios en este archivo realiza un collectstatic
Esto hará que se copie el contenido exacto en staticFiles
*/
@font-face {
  font-family: "fuente-principal";
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}
:root {
  --bk_principal: #f2f2f2;
  --tx-nm-lg: #003366;
  --indigoEnlaceBread: #6f009e;
  --brown: #514b23;
  --lemon-lime: #e4ff1a;
  --orangepantone: #f26419;
  --texto-boton: #faff24;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--bk_principal);
  a {
    color: var(--tx-nm-lg);
    text-decoration: none;
  }
  header {
    .dropdown-item:active {
      color: var(--texto-boton);
      background-color: var(--indigoEnlaceBread);
    }
    .nav-link:focus {
      box-shadow: inset 0 -5px 0 var(--indigoEnlaceBread);
    }
    .btn {
      background-color: var(--indigoEnlaceBread);
      color: var(--texto-boton);
      border: solid var(--indigoEnlaceBread);
    }
    .btn:hover {
      background-color: var(--texto-boton);
      border: solid var(--indigoEnlaceBread);
    }
    .btn:focus {
      border: solid var(--texto-boton);
      box-shadow: var(--texto-boton);
    }
  }
  .breadcrumb {
    li,
    a {
      color: var(--tx-nm-lg);
    }
    .active {
      color: var(--indigoEnlaceBread);
    }
  }

  font-family: "fuente-principal", sans-serif;
  .container {
    flex: 1; /* Esto hace que el contenido ocupe el espacio disponible */
    padding: 20px;
    .btn-primary, .btn-outline-primary {
      background-color: var(--indigoEnlaceBread);
      color: var(--lemon-lime);
    }
    .btn-primary:hover{
      background-color: var(--texto-boton);
      color: var(--indigoEnlaceBread);
    }
    .btn-secondary{
      background-color: var(--texto-boton);
      color: var(--indigoEnlaceBread);
    }
    .btn-outline-primary:hover{
      background-color: var(--texto-boton);
      color: var(--indigoEnlaceBread);
    }
    /*estilos generales de cada page*/
    #contenido-home,
    #contenido-privacy,
    #contenido-about,
    #contenido-faq,
    #contenido-cookies {
      text-align: justify;
      text-justify: inter-word;
      p,
      h1,
      h2,
      li,
      .table {
        color: var(--tx-nm-lg);
      }
    }
    /*estilos individuales de cada page*/
    #contenedor-home-blog {
      
      .accordion {
        a:focus,
        a:hover {
          box-shadow: inset 0 -2px 0 var(--indigoEnlaceBread);
        }
      }
    }
    #contenedor-detalle-entrada {
      .card-body {
        .btn-primary {
          background-color: var(--indigoEnlaceBread);
          color: var(--lemon-lime);
        }
      }
    }
    #contenido-faq,
    #contenedor-home-blog {
      button {
        background-color: var(--tx-nm-lg);
        color: var(--texto-boton);
      }
      .accordion-button::after {
        background-image: none;
      }
      .accordion-button:focus {
        box-shadow: inset 0 -5px 0 var(--texto-boton);
      }
    }
  }

  footer {
    a{
      text-decoration: none;
    }
    a:focus,
    a:hover {
      box-shadow: inset 0 -2px 0 var(--indigoEnlaceBread);
    }
  }
  /*barra de cookies*/
  .cookie-bar {
    position: fixed;
    top: 80%;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 10px;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }

    .cc-cookie-accept {
      background-color: #4caf50;
      color: white;
    }
    .cc-cookie-decline {
      background-color: #f44336;
      color: white;
    }
  }
}
