{% extends "base.html" %} {% load static %} {% block content %}

<div id="contenido-about">
  <h1 class="text-center">Quien Soy</h1>
  <h2 class="mt-3 text-center">Andrés Martin Bravo Castro</h2>

  <div class="d-flex flex-wrap">
    <div class="col-12">
      <img
        class="img-fluid rounded mx-auto d-block"
        src="{% static 'supportinbits/img/ambc.jpg' %}"
        alt=""
      />
    </div>
    <br />
    <p class="text-justify mt-3">
      Soy Andrés el creador de esta web mi DNI es 52053342H. He creado esta web
      con el fin de compartir los conocimientos que he ido adquiriendo sobre
      informática a lo largo de mi vida y de esta manera quizás pueda ayudarte a
      ti con el problema que tengas. Si necesitas un técnico informático en
      Madrid, podemos concertar un cita mediante videollamada para que me
      indiques tu problema y si hace falta me acerco a tu domicilio. No soy una
      empresa de momento, es por esa razón que en los servicios que menciono
      después NO REALIZO FACTURAS. Aún así, si necesitas que te haga una factura
      tendrás que decírmelo con antelación. Si quieres saber más información
      sobre mi siempre puedes enviar un correo a ambc@gmail.com o escribirme un
      mensaje en alguna de las redes sociales que aparecen al final.
    </p>
  </div>
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center flex-wrap">
      <h3>¿Qué tecnologías manejo?</h3>
      <div class="col-12 d-flex justify-content-center fs-1">
        <i class="bi bi-filetype-css"></i>
        <i class="bi bi-filetype-html"></i>
        <i class="bi bi-filetype-js"></i>
        <i class="bi bi-filetype-java"></i>
        <i class="bi bi-filetype-py"></i>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
