{% extends "base.html" %} {% load static %}

{% block meta_description %}placeholder{% endblock %}
{% block titulo %}{{ page.titulo }}{% endblock %}

{% block content %}

<h1>¿Quien Soy?</h1>
<h2>Andrés Martin Bravo Castro</h2>

<div class="d-flex flex-wrap">
    <div class="col-12 imagen_ambc">
        <img class="img-fluid " src="{% static 'supportinbits/img/ambc.jpg' %}" alt="" />
    </div>
    
    <p class="col-6 ps-3 ">
    Soy Andrés el creador de esta web mi DNI es 52053342H. He creado esta
    web con el fin de compartir los conocimientos que he ido adquiriendo
    sobre informática a lo largo de mi vida y de esta manera quizás pueda
    ayudarte a ti con el problema que tengas. Si necesitas un técnico
    informático en Madrid, podemos concertar un cita mediante videollamada
    para que me indiques tu problema y si hace falta me acerco a tu
    domicilio. No soy una empresa de momento, es por esa razón que en los
    servicios que menciono después NO REALIZO FACTURAS. Aún así, si
    necesitas que te haga una factura tendrás que decírmelo con
    antelación. Si quieres saber más información sobre mi siempre puedes
    enviar un correo a ambc@gmail.com o escribirme un mensaje en alguna de
    las redes sociales que aparecen al final.
    </p>
</div>
<div class="row mt-5">
    <div class="col-12 d-flex justify-content-center flex-wrap">
        <h3>¿Qué tecnologías manejo?</h3>
        <div class="col-12 d-flex justify-content-center fs-1">
            <i class="bi bi-filetype-css"></i>
            <i class="bi bi-filetype-html"></i>
            <i class="bi bi-filetype-js"></i>
            <i class="bi bi-filetype-java"></i>
            <i class="bi bi-filetype-py"></i>
        </div>
    </div>
</div>
{% endblock content%}