{% extends "base.html" %} 
{% block content %} 
{% load static %}

<div id="contenido-home">
  <div class="row">
    
    <div class="col mt-3">
      <p class="col text-center h3">Bienvenido a</p>
      <h1 class="col text-center">SupportInBits.com</h1>
    </div>
    
    <h1 class="blockquote text-center mt-4">Creando la web del futuro, accesible para todos los seres humanos</h1>
    <div>
      <p class="text-justify display-3 d-none d-md-block">
        Soy un ser humano más de carne y hueso como tú que estás leyendo esto.
        Con los conocimientos que tengo sobre HTML5, CSS y JavaScript intentaré
        hacer de este mundo un lugar mejor haciendo de internet un lugar más
        accesible para todos.
      </p>
      <p class="text-justify fs-4 mt-4 d-block d-md-none d-xxl-none">
        Soy un ser humano más de carne y hueso como tú que estás leyendo esto.
        Con los conocimientos que tengo sobre HTML5, CSS y JavaScript intentaré
        hacer de este mundo un lugar mejor haciendo de internet un lugar más
        accesible para todos.
      </p>
    </div>
  </div>
</div>
{% endblock content%}
