{% extends "base.html" %} 
{% block content %} 
{% load static %}

<div id="contenido-home">
  <div class="row">
    
    <div class="col">
      <p class="col text-center h3">Bienvenido a</p>
      <h1 class="col text-center">SupportInBits.com</h1>
    </div>
    
    <h1 class="blockquote text-center mt-4">Creando la web del futuro, accesible para todos los seres humanos</h1>
    <div class="text-home">
      <p class="text-justify display-6 d-none d-md-block">
        En nuestro web encontrarás tutoriales prácticos: desde montar redes locales y 
        mantenimiento de ordenadores hasta programación, creación de contenido accesible 
        y marketing digital. También encontrarás plantillas para que puedas copiar y pegar
        para poder usarlo en tu web.
      </p>

      <p class="text-center display-5 mt-5 d-none d-md-block">
        ¡Únete a nuestra comunidad y aprende con nosotros!
      </p>
      <p class="text-justify fs-4 mt-4 d-block d-md-none d-xxl-none">
        En nuestro web encontrarás tutoriales prácticos: desde montar redes locales y 
        mantenimiento de ordenadores hasta programación, creación de contenido accesible 
        y marketing digital. También encontrarás plantillas para que puedas copiar y pegar
        para poder usarlo en tu web.
      </p>
      <p class="text-center display-5 mt-5 d-block d-md-none d-xxl-none">
        ¡Únete a nuestra comunidad y aprende con nosotros!
      </p>
    </div>
  </div>
</div>
{% endblock content%}
