/*
NOTA: siempre que hagas cambios en este archivo realiza un collectstatic
Esto hará que se copie el contenido exacto en staticFiles
*/
@font-face {
  font-family: "fuente-principal";
  src: url('../fonts/Roboto-Regular.ttf');
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "fuente-principal", sans-serif;
  .container {
    /*estilos generales de cada page*/
    #contenido-home,
    #contenido-privacy,
    #contenido-about,
    #contenido-faq,
    #contenido-cookies {
      text-align: justify;
      text-justify: inter-word;
    }
    /*estilos individuales de cada page*/
  }

  /*barra de cookies*/
  .cookie-bar {
    position: fixed;
    top: 80%;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 10px;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }

    .cc-cookie-accept {
      background-color: #4caf50;
      color: white;
    }
    .cc-cookie-decline {
      background-color: #f44336;
      color: white;
    }
  }
}
