{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-4">
    <div class="card mb-4">
      <p class="card-header h5">Categorías</p>
      <div class="accordion" id="accordionCategorias">
        {% for seccion in secciones %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ seccion.id }}"
              aria-expanded="false"
              aria-controls="collapse{{ seccion.id }}"
            >
              <p class="mb-0 h6">{{ seccion.nombre }}</p>
            </button>
          </h2>
          <div
            id="collapse{{ seccion.id }}"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionCategorias"
          >
            <div class="accordion-body">
              <ul class="list-unstyled">
                {% for categoria in seccion.categorias.all %}
                <li class="mb-2">
                  <a
                    href="{% url 'entradas_por_categoria' slug_categoria=categoria.slug %}"
                  >
                    {{ categoria.nombre }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content%}
