{% load static %}
{% load bootstrap5 %}
{% load cookie_consent_tags %}

<html lang="en">
  <head>
    <title>{{ page.titulo }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.m_descri }}" />
    <meta name="robots" content="{{ page.m_robots }}" />
    <meta name="HandheldFriendly" content="{{ page.m_handF }}" />
    <meta name="MobileOptimized" content="{{ page.m_mobileOp }}" />
    <meta http-equiv="content-language" content="es"/>
    <script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>
    
    <!-- CSS de Bootstrap -->
    {% bootstrap_css %}
    <!-- JS de Bootstrap -->
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="{% static 'supportinbits/css/global.css' %}" />   
  </head>
  <body>
    <div class="container">
      <!--encabezado-->
      <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Support In Bits</span>
          </a>
        </div>
      </header>

      <!-- barra de navegación -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Inicio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Mi perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Foro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/test">Test</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>

    <!--breadcrumps-->
    <div class="container mt-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item{% if forloop.last %} active{% endif %}" {% if forloop.last %}aria-current="page"{% endif %}>
                    {% if not forloop.last %}
                        <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                    {% else %}
                        {{ breadcrumb.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
      </nav>
    </div>

    <!--contenido-->
    <div class="container contenido">
      {% block content %} {% endblock %}
    </div>

    <!--footer-->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Inicio</a></li>
          <li class="nav-item"><a href="/politicas" class="nav-link px-2 text-body-secondary">Politicas de privacidad</a></li>
          <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">Acerca de nosotros</a></li>
          <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item"><a href="/cookies-policy" class="nav-link px-2 text-body-secondary">Cookies</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 SupportInBits, Inc</p>
      </footer>
    </div>

    {% load static %}
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'cookie_consent/cookiebar.module.js' %}"></script>

    {% if request|cookie_consent_enabled %}
        <script type="text/javascript">
            $(document).ready(function() {
                showCookieBar({
                    content: '<div class="cookie-bar"> <p>Utilizamos cookies para mejorar su experiencia de navegación. Si continúa navegando, consideramos que acepta su uso.</p> <a href="/accept_cookies" class="cc-cookie-accept">Aceptar</a> <a href="/decline_cookies" class="cc-cookie-decline">Rechazar</a> </div>',
                    cookie_groups: ['analytics', 'marketing'],
                    cookie_decline: 'true',
                    
                });            
            });
        </script>
    {% endif %}
        
  </body>
</html>