{% load static %}
{% load bootstrap5 %}
{% load cookie_consent_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>
      {% if user.is_authenticated %}
      {{ user.username }}
      {% endif %}
      {{ page.titulo}} 
    </title>
      <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.m_descri }}" />
    <meta name="robots" content="{{ page.m_robots }}" />
    <meta name="HandheldFriendly" content="{{ page.m_handF }}" />
    <meta name="MobileOptimized" content="{{ page.m_mobileOp }}" />
    <meta http-equiv="content-language" content="es"/>
    <script type="text/javascript" src="{% static 'cookie_consent/cookiebar.js' %}"></script>
            <!-- TinyMCE CDN -->
    <script src="https://cdn.tiny.cloud/1/4ctror8ztivyu5cgoasl3ilo4pmcop3kh56f9ezfohvamo05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- axe-core -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axe-core/4.8.2/axe.min.js"></script>
    <!-- CSS de Bootstrap -->
    {% bootstrap_css %}
    <!-- JS de Bootstrap -->
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="{% static 'supportinbits/css/global.css' %}" />   
  </head>
  <body  class="d-flex flex-column h-100">
    <div class="container" id="contenedor-pricipal">
      <!--encabezado-->
      <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light d-flex flex-lg-wrap">
              <div class="container-fluid">
                <a class="navbar-brand" href="/" aria-label="home"><i class="bi bi-house fs-1"></i></a>

                <form class="col-6 col-lg-6 mb-2 mb-lg-0 me-lg-auto" role="search">
                  <input type="search" class="form-control" placeholder="Buscar en Support In Bits" aria-label="Search">
                </form>

                <button class="navbar-toggler" type="button" aria-label="boton navegador" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" >
                  <span class="navbar-toggler-icon"></span>
                </button>
                {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                    <div class="d-none d-md-flex">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle fs-6" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-box-arrow-in-right"></i> Mi cuenta
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/mi-perfil">Configurar</a></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                        </ul>
                      </div>
                    </div>
                    {% else %}
                    <div class="d-none d-md-flex">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle fs-6" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi bi-box-arrow-in-right"></i> Mi cuenta
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/mi-perfil">Configurar</a></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                {% else %}
                  <div class="d-none d-md-flex">
                    <div class="dropdown">
                      <button class="btn dropdown-toggle fs-6" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-box-arrow-in-right"></i> Identifícate
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/identificate/login">Iniciar sesión</a></li>
                        <li><a class="dropdown-item" href="/identificate/registrate">Registrate</a></li>
                      </ul>
                    </div>
                  </div>
                {% endif %}
              </div><!--container-fluid-->
                <div class="collapse navbar-collapse" id="navbarNav">

                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#">Plantillas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Servicios</a>
                    </li>

                    <li class="nav-item dropdown d-md-none">
                      <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Identifícate
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/identificate/login">Iniciar sesión</a></li>
                          <li><a class="dropdown-item" href="/identificate/registrate">Registrate</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>

                </div>
            </nav>
          </div><!--container-->
      </header>

      <!--breadcrumps-->
      <nav aria-label="Migas de pan" class="container mt-4">
          <ol class="breadcrumb">
              {% for breadcrumb in breadcrumbs %}
                  <li class="breadcrumb-item{% if forloop.last %} active{% endif %}" {% if forloop.last %}aria-current="page"{% endif %}>
                      {% if not forloop.last %}
                          <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                      {% else %}
                          {{ breadcrumb.name }}
                      {% endif %}
                  </li>
              {% endfor %}
          </ol>
      </nav>

      <!--contenido-->
      <main class="flex-shrink-0">
        <div class="container">
          {% block content %} {% endblock %}
        </div>
      </main>

      <!--footer-->
      <footer class="mt-5">
        <div class="container mt-auto py-3 ">
          <div class="d-flex justify-content-evenly flex-wrap pb-3 mb-3">
            <div class="col-12 col-md-auto"><a href="/politicas-de-privacidad" class="link-opacity-50-hover">Politicas de privacidad</a></div>
            <div class="col-12 col-md-auto"><a href="/quien-soy" class="link-opacity-50-hover">Quien soy</a></div>
            <div class="col-12 col-md-auto"><a href="/preguntas-frecuentes" class="link-opacity-50-hover">FAQs</a></div>
            <div class="col-12 col-md-auto"><a href="/politica-de-cookies" class="link-opacity-50-hover">Cookies</a></div>
          </div>
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2025 SupportInBits.com</p>
            <ul class="list-unstyled d-flex fs-4">
              <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#" aria-label="Facebook"><i class="bi bi-github"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>

  </div>
    {% load static %}
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'cookie_consent/cookiebar.module.js' %}"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          tinymce.init({
              selector: '.tinymce-editor',
              plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
              toolbar_mode: 'floating',
              toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
              height: 400,
              content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
          });
      });
      </script>
      
{% comment %}     {% if request|cookie_consent_enabled %}
        <script type="text/javascript">
            $(document).ready(function() {
                showCookieBar({
                    content: '<div class="cookie-bar"> <p>Utilizamos cookies para mejorar su experiencia de navegación. Si continúa navegando, consideramos que acepta su uso.</p> <a href="/accept_cookies" class="cc-cookie-accept">Aceptar</a> <a href="/decline_cookies" class="cc-cookie-decline">Rechazar</a> </div>',
                    cookie_groups: ['analytics', 'marketing'],
                    cookie_decline: 'true',
                    
                });            
            });
        </script>
    {% endif %} {% endcomment %}
  </body>
</html>